---
import Icon from './Icon.astro';
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="terminal-window" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Web Developer</h2>
		<p>Web development is much more than code to me. It is a creative process that involves user experience design,
		  performance optimization, data security, and cross-platform compatibility.
		  In an increasingly connected world, web development is at the heart of technological innovation.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="trophy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Team Work</h2>
		<p>Teamwork in web development is the engine of digital innovation. Like pieces of a puzzle, developers,
		 designers and project managers work together to create extraordinary online experiences. Everyone brings their expertise,
		  from design to programming, to bring to life websites and applications that are both aesthetic and efficient.
		   This synergy makes it possible to meet technical challenges, improve the user experience and guarantee quality,
		    while paving the way for ever more daring innovations. Team web development embodies the marriage of creativity and technology to shape the digital future.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="strategy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Vision 360°</h2>
		<p>As a beginner in the field, the beginner experience in web development is a captivating adventure accessible to everyone. 
		Imagine diving into a world where you explore programming languages, create your first website, and discover how to bring digital ideas to life. 
		You will be guided by a large online community and rich educational resources to help you understand the fundamentals, master HTML, CSS, JavaScript, 
		and get started with web design. Every small success, like having your name on a web page, will be a source of pride and motivation to continue developing your skills. 
		The beginner web development experience is a challenging learning journey, where each line of code brings you one step closer to creating exciting websites and interactive applications.</p>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
